/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}


body {
    background-color:rgba(50,50,150,.1);
    padding: 0;
    margin:0px auto;
    /*font-family:'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;*/
    font-family:Proxima Nova;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}


div{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}


#mainDiv {
    position:relative;
    width:1280px;    
    height:1024px;    
    width:1600px;    
    height:900px;    
    background-color:rgba(255,255,0,.1);
    margin: 0 auto;
    overflow-y:hidden;
}


#genericScreen{
    font-size: 300%;
    position: absolute;
    background-color: rgba(250,250,250,1);
    display: block;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    border:10px green solid;
    text-align:center;
}


#genericScreenInside { 
  position: absolute; 
  width: 100%;
  height:100%;
  box-sizing: border-box;
  border:60px transparent solid;
  display: table; 
}

#genericScreenText {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
    line-height:100px;;
}


/*https://jsfiddle.net/qaws2emt/*/

.arrow_box {
  z-index: 9999;
  box-sizing: border-box;
  position: absolute;
  border: 4px solid;
  background: #88b7d5;
  border-color: #c2e1f5;
  min-height:100px;
  width:200px;
  line-height:25px;
  text-align:center;
}
.arrow_box:after, .arrow_box:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 20px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 26px;
}

.arrow_box_left,.arrow_box_right{
  animation-name: bounceLR;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}
.arrow_box_left:after, .arrow_box_left:before {
  right: 100%;
  top: 50%;
}

.arrow_box_left:after {
  border-right-color: #88b7d5;
  margin-top: -20px;
}
.arrow_box_left:before {
  border-right-color: #c2e1f5;
  margin-top: -26px;
}

.arrow_box_right:after, .arrow_box_right:before {
  left: 100%;
  top: 50%;
}

.arrow_box_right:after {
  border-left-color: #88b7d5;
  margin-top: -20px;
}
.arrow_box_right:before {
  border-left-color: #c2e1f5;
  margin-top: -26px;
}

.arrow_box_up,.arrow_box_down{
  animation-name: bounceUD;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}


.arrow_box_up:after, .arrow_box_up:before {
  left: 50%;
  bottom: 100%;
}

.arrow_box_up:after {
  border-bottom-color: #88b7d5;
  margin-left: -20px;
}
.arrow_box_up:before {
  border-bottom-color: #c2e1f5;
  margin-left: -26px;
}


.arrow_box_down:after, .arrow_box_down:before {
  left: 50%;
  top: 100%;
}

.arrow_box_down:after {
  border-top-color: #88b7d5;
  margin-left: -20px;
}
.arrow_box_down:before {
  border-top-color: #c2e1f5;
  margin-left: -26px;
}



.thisArrow{
  left:100px;
  top:100px;
}

@keyframes bounceUD {
    0% {transform: translateY(0px);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(0px);}
}

@keyframes bounceLR {
    0% {transform: translateX(0px);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0px);}
}



