/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

#mainDivOverlay {
    position:absolute;
    display: block;
    background-color:rgba(0,0,0,.7);
    z-index:2;
    left: 0px;
    top:0px;
    width:100%;    
    height:100%;    
    overflow-y:hidden;
}


#captionOverlay {
    position:absolute;
    display: block;
    background-color:rgba(0,0,0,0);
    z-index:900;
    left: 0px;
    top:0px;
    width:100%;    
    height:100%;    
    overflow-y:hidden;
}



#captions {
    background-color: rgba(155,155,255,.2);
    color: rgba(255,0,0,1);
    position:absolute;
    width:100%;    
    height:40px;
    display: block;
    font-size: 200%;   
    margin: auto;
    bottom:0px;
    overflow-y:hidden;
    text-align: center;
    line-height: 40px;
    z-index:500;
}

#instructionsElapsed {
    background-color: rgba(240,240,255,1);
    color: rgba(255,0,0,1);
    position:absolute;
    width:100%; 
    height:40px;
    display: block;
    font-size: 200%;   
    margin: auto;
    bottom:0px;
    overflow-y:hidden;
    text-align: left;
    line-height: 40px;
    z-index:5;
}

#welcomeScreen{
    font-size: 400%;
    position: absolute;
    background-color: rgba(100,100,250,.2);
    display: block;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    border:0px green solid;
    text-align:center;
}


.welcomeScreenTitle{
    display: inline-block;
    font-size: 400%;
}



.welcomeScreenTitle.animated1 {
  transform-style: preserve-3d;
  animation: 5000ms spin1 infinite linear;
}

.welcomeScreenTitle.animated2 {
  transform-style: preserve-3d;
  animation: 5000ms spin2 infinite linear;
}

.welcomeScreenTitle.animated3 {
  transform-style: preserve-3d;
  animation: 5000ms spin3 infinite linear;
}

.welcomeScreenTitle.animated4 {
  transform-style: preserve-3d;
  animation: 5000ms spin4 infinite linear;
}

.welcomeScreenTitle.animated5 {
  transform-style: preserve-3d;
  animation: 5000ms spin5 infinite linear;
}

@keyframes spin1 {
  0% { transform: rotateY( 0deg ); }
  10% { transform: rotateY( 360deg ); }
  100% { transform: rotateY( 360deg ); }
}

@keyframes spin2 {
  0% { transform: rotateY( 0deg ); }
  5% { transform: rotateY( 0deg ); }
  15% { transform: rotateY( 360deg ); }
  100% { transform: rotateY( 360deg ); }
}

@keyframes spin3 {
  0% { transform: rotateY( 0deg ); }
  10% { transform: rotateY( 0deg ); }
  20% { transform: rotateY( 360deg ); }
  100% { transform: rotateY( 360deg ); }
}

@keyframes spin4 {
  0% { transform: rotateY( 0deg ); }
  15% { transform: rotateY( 0deg ); }
  25% { transform: rotateY( 360deg ); }
  100% { transform: rotateY( 360deg ); }
}

@keyframes spin5 {
  0% { transform: rotateY( 0deg ); }
  20% { transform: rotateY( 0deg ); }
  30% { transform: rotateY( 360deg ); }
  100% { transform: rotateY( 360deg ); }
}


@keyframes spin22 {
  0% { transform: scale( 1 ); }
  100% { transform: scale( 1.1 ); }
}


#welcomeScreenInside { 
    background-color: red;
  position: absolute; 
  left: 3%; 
  top: 3%; 
  width: 94%; 
  height: 94%; 
  display: table; 
}

#welcomeScreenText {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
    line-height:75px;;
}

#controlsDiv{
  position: absolute;
  left:0;
  top:0;
  background-color: rgba(255,0,0,0);
  height:100%;
  width:100%;
  z-index: 99999;
  animation-name: fadeAwayBackground;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
}
#controlsDivTitle{
  position: absolute;
  font-size: 600%;
  text-align: center;
  top:0px;
  line-height: 1000px;
  height: 100%;
  width: 100%;
  z-index: 99999;
  animation-name: fadeAway;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  color:rgba(255,255,255,0);
}

#controlsDivButtonPause{
  position: absolute;
  top:0px;
  background-color: rgba(255,0,0,0);
  height:100px;
  width:100%;
  z-index: 99999;
  border:5px solid rgba(255,255,255,0);
  color:rgba(255,255,255,0);
  font-size: 300%;
  line-height: 100px;
  text-align: center;
  transition: color .25s ease-in-out;
  animation-name: fadeAway;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
}

.controlsDivButton{
  position: absolute;
  top:100px;
  background-color: rgba(255,0,0,0);
  height:100%;
  width:16.666%;
  z-index: 99999;
  border:5px solid rgba(255,255,255,.1);
  color:rgba(255,255,255,0);
  font-size: 300%;
  line-height: 100%;
  text-align: center;
  transition: color .25s ease-in-out;
  animation-name: fadeAway;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
}
@keyframes fadeAway {
    0% {
      color:rgba(255,255,255,.5);
      border:5px solid rgba(255,255,255,.5);
    }
    100% {
      color:rgba(255,255,255,0);
      border:5px solid rgba(255,255,255,.1);
    }
}

@keyframes fadeAwayBackground {
    0% {
      background-color:rgba(0,0,0,.5);
    }
    100% {
      background-color:rgba(0,0,0,0);
    }
}

