
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

html{
  background-color:rgba(0, 0, 0, .2);
  -webkit-tap-highlight-color:transparent;
}


body{
  background-color:rgba(255,255,255,.9);
  width:1280px;
  height:1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}


#mainDiv{
  width: 100%;
  height:100%;
  border:0px solid red;
  overflow: scroll;
  position:relative;
  background-color: rgba(0,255,0,.1);
}





#monitorTable{
  position:absolute;
  left: 25px;
  top:25px;
  width:925;
  border:3px solid black;
}


#taskTable{
  position:absolute;
  left: 975;
  top:25px;
  width:280;
  border:3px solid black;
}


#pythonConsole{
  position:absolute;
  left: 975px;
  top:475px;
  height:525px;
  width:280px;
  border:3px solid black;
  overflow: hidden;
  overflow: scroll; 
}

#pythonConsoleIN{
  background-color: rgba(255,255,255,1);
  color:green;
  position:absolute;
  left: 0px;
  top:0px;
  width:1280px;
  min-height:519px;
  border:0px solid black;
  overflow: hidden;
  font-family: Inconsolata;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 12.4px;

}


#monitorTable td,th{
    height: 50px;
    vertical-align: middle;
    padding: 15px;
  border:1px solid black;
}

#taskTable td,th{
    height: 50px;
    vertical-align: middle;
    padding: 15px;
  border:1px solid black;
}

#monitorTable th{
    font-weight: bold;
}

