#quizQuestionStatement{
	position: absolute;
	z-index: 999;
	background-color: rgba(255,255,255,1);
	border: 5px solid black;
	font-size: 150%;
	line-height: 150%;
	padding: 10px;
    animation: border-pulsate 2s infinite;
    animation-timing-function: linear;
}

@keyframes border-pulsate {
    0%   { border-color: rgba(0,0,0,.9); }
    50%  { border-color: rgba(0, 255, 255, 0); }
    100% { border-color: rgba(0,0,0,.9); }
}

#quizAnswer{
	position: absolute;
	font-size: 100%;
	bottom: 15px;
	right:115px;
}

#correctOrNot{
	position: absolute;
	font-size: 100%;
	bottom: 15px;
	right:115px;
	text-align: right; 
}

#quizTryAgainButton{
	background-color: rgba(255,0,0,.1);
}

#quizSubmitAnswerButton{
	background-color: rgba(0,255,0,.1);
}

#quizNextQuestionButton{
	background-color: rgba(0,255,0,.1);
}

.quizAnswerButton{
	position: absolute;
	font-size: 100%;
	bottom: 0px;
	width:100px;
	height: 50px;
	right:0px;
}