{box-sizing: border-box;
border:1px solid white;
}

ul{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
li {
    display: inline-block;
}

a{
    box-sizing: border-box;
    display: table-cell;
    width:200px;
    height:200px;
    font-size: 200%;
    background-color:rgba(0,255,0,.1);
    border:1px solid white;
    text-align: center;
    text-decoration: none;
    vertical-align:middle;
    color:black;
}



#indexExperimentLinks a{
    background-color:rgba(0,255,0,.1);
}

#indexExperimentLinks a:hover{
    background-color:rgba(0,255,0,.2);
    border:1px solid green;
    color:green;
}


#indexDemoLinks a{
    background-color:rgba(255,0,0,.1);
}


#indexDemoLinks a:hover{
    background-color:rgba(255,0,0,.2);
    border:1px solid red;
    color:red;
}

#currentExperiment{
    display: table-cell;
    width:800px;
    height:50px;
    font-size: 200%;
    vertical-align:middle;
    text-align: center;
    background-color:rgba(0,0,255,.1);
}

#screenServer{
    display: table-cell;
    width:800px;
    height:50px;
    font-size: 200%;
    vertical-align:middle;
    text-align: center;
    background-color:rgba(0,0,255,.1);
}

#screenServer:hover{
    background-color:rgba(0,0,255,.2);
    border:1px solid blue;
    color:blue;
}


#container{
    width:825px;
}