.selectItem{
	position:absolute;
	left:400px;
	font-size: 150%;
	width: 200px;
}

.selectItemTitle{
	position:absolute;
	left:90px;
	width:300px;
	text-align: right;
	font-size: 150%;
}


.textEntry{
	position:absolute;
	width:600px;
	height: 150px;
	font-size: 150%;
	line-height: 150%;
	resize: none;
	left:800px;

}


.textTitle{
	position:absolute;
	width:900px;
	height: 150px;
	font-size: 150%;
	line-height: 150%;
	resize: none;
	left:800px;

}

#submitButton{
	background-color: rgba(0,255,0,.3);
	position:absolute;
	width:200px;
	height: 100px;
	font-size: 150%;
	line-height: 150%;
	left:300px;
	top:700px;
}


#submitButton:hover{
	background-color: rgba(255,0,0,.1);
}

#subjectIDLabelQuestionnaire{
	position: absolute;
	right:100px;
	bottom:25px;
	font-size: 150%;
}


#payoffLabelQuestionnaire{
	position: absolute;
	right:100px;
	bottom:75px;
	font-size: 150%;
}

