


@media (max-width: 750px) {
    #sideBar {
    left:-300px;
}

    #mainContent {
        left:0px;    
        width:100%;
        min-height:100%;
        top:50px;
    }


.header{
    padding-left: 25px;
}

.p{
    width: calc(100% - 50px);
    padding-left: 25px;
}

}

@media (min-width: 750px) {


    #sideBar {
        position:fixed;
        width:300px;    
        left:0px;
        top:0px;
        height: 100%;
    }


    #mainContent {
        left:300px;    
        width:900px;
        min-height:100%;
        top:0px;
    }

.header{
    padding-left: 50px;
}

.p{
    padding-left: 75px;
    width: calc(100% - 150px);
}

}


@media (min-width: 1200px) {
    #sideBar {
        left:calc(50% - 600px);
    }
    #mainContent {
        left:calc(50% - 300px);
    }
}




#sideBar {
    position:fixed;
    width:300px;    
    top:0px;
    height: 100%;
    transition: all .25s ease;
}


#mainContent {
    position:absolute;
    transition: all .25s ease;
    border-left:1px solid rgba(0,0,0,.2);
}



.sideBarHeader{
    text-align: center;
    width:100%;
    height:50px;
    line-height: 50px;
    font-size: 150%;
}

.sideBarEntry{
    width:100%;
    height:30px;
    line-height: 30px;
    padding-left: 30px;
    color:red;
}
.sideBarEntrys{
    width:100%;
    height:30px;
    line-height: 30px;
    padding-left: 60px;
    color:blue
}

.sideBarEntryss{
    width:100%;
    height:30px;
    line-height: 30px;
    padding-left: 90px;
    color:green;
}

.header{
    width: 100%;
    line-height: 50px;
    height: 50px;
    font-size: 150%;
}

.p{
    line-height: 30px;
}